/* Estilo para o quadro de publicidade */
.quadro-publicidade {
    background-color: #d3d3d3;
    color: #888;
    width: 572px;
    height: 109.31px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 20px auto 0;
}

/* Estilo para a barra verde */
.barra-verde {
    background-color: #4F6443;
    height: 50px;
    width: 100%;
}

/* Contêiner para as imagens lado a lado */
.imagens-lado-a-lado {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre as imagens */
    margin: 40px auto 0; /* Margem superior e centraliza */
}

/* Contêiner para a imagem e o texto */
.imagem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para imagem altiora */
.imagem-altiora {
    width: 368.42px;
    height: 255.83px;
}

/* Estilo para imagem da plantapetro */
.imagem-plantapetro {
    width: 501.74px;
    height: 440.49px;
    border: 3px solid #4f2c16;
}

/* Estilo para o texto abaixo da imagem altiora */
.texto-descricao {
    width: 335.21px;
    height: auto; /* Ajustar a altura automaticamente */
    border: 0; /* Sem borda */
    opacity: 1; /* Mantido para que o texto fique visível */
    color: #112820; /* Alterado para uma cor escura para melhor contraste */
    padding: 10px; /* Adiciona um pouco de espaçamento interno */
    margin: 10px auto 0; /* Margem superior e centraliza */
}

.svg-divider{
    margin-top: 10px;
    position: relative;
    z-index: 2;
}

/* Responsividade com Media Queries */
@media (max-width: 768px) {
    .quadro-publicidade {
        width: 95%; /* Aumenta a largura em telas menores */
    }

    .imagens-lado-a-lado {
        flex-direction: column; /* Coloca as imagens em coluna em telas menores */
        align-items: center; /* Centraliza as imagens */
        gap: 20px; /* Espaço entre as imagens em coluna */
        margin-top: 20px; /* Ajusta a margem superior */
    }

    .imagem-altiora, .imagem-plantapetro {
        max-width: 90%; /* Limita a largura em telas menores */
        height: auto; /* Mantém a proporção da imagem */
    }

    .texto-descricao {
        width: 90%; /* Ajusta a largura do texto em telas menores */

}